[submodule "Tutorial-CPlusPlus"]
	path = Tutorial-CPlusPlus
	url = https://github.com/merlotqi/Tutorial-CPlusPlus.git
[submodule "Tutorial-Avalonia"]
	path = Tutorial-Avalonia
	url = https://github.com/merlotqi/Tutorial-Avalonia.git
[submodule "Tutorial-Qt"]
	path = Tutorial-Qt
	url = https://github.com/merlotqi/Tutorial-Qt.git
[submodule "Tutorial-WPF"]
	path = Tutorial-WPF
	url = https://github.com/merlotqi/Tutorial-WPF.git
